@import '@/app/globals.scss';

.product-additional-info {
    display: flex;
    justify-content: center;

    p {
        max-width: $tablet;
        color: $gray;
        text-align: justify;
    }
}