@import '@/app/globals.scss';

.product-gallery {
    display: flex;
    height: 500px;
    gap: 30px;

    @media only screen and (max-width: $mobile) {
        height: auto;
        flex-direction: column-reverse;
    }

    .main-image {
        width: 100%;
        background-color: $lightYellow;
        display: flex;
        max-height: 500px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        @media only screen and (max-width: $mobile) {
            width: 100%;
            height: clamp(21.875rem, 14.0063rem + 35.9712vw, 31.25rem);
        }

        img {
            padding: 20px;
            max-width: 423px;
            width: 100%;
            object-fit: contain;
        }
    }
    
    .thumbnails {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @media only screen and (max-width: $mobile) {
            flex-direction: row;
            width: 100%;
            overflow-x: scroll;
            height: 80px;
            gap: 20px;
        }

        .thumbnail {
            width: 76px;
            padding: 10px;
            height: 76px;
            background-color: $lightYellow;
            cursor: pointer;
            border-radius: 10px;
            align-self: center;
            object-fit: contain;

            &.active {
                background-color: $yellow;
            }

            img {
                max-width: 100%;
            }
        }
    }
}