@import '@/app/globals.scss';

.shop-page {
    display: flex;
    flex-direction: column;
    gap: 62px;

    .filter-bar {
        background-color: $pink;

        .content {
            max-width: 1440px;
            width: 100%;
            padding: 22px clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: $tablet) {
                flex-direction: column;
                gap: 20px;
            }

            .left {
                display: flex;
                gap: 24px;
                align-items: center;

                img {
                    display: flex;
                }

                .filters {
                    display: flex;
                    gap: 12px;
                }

                .views {
                    display: flex;
                    gap: 24px;
                    align-items: center;
                }

                .divider {
                    border: 1px solid $gray;
                    height: 37px;
                    margin-left: 6px;
                    margin-right: 10px;

                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }

                @media screen and (max-width: $mobile) {
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .right {
                display: flex;
                gap: 30px;
                align-items: center;

                @media screen and (max-width: $mobile) {
                    flex-direction: column;
                    gap: 20px;
                }

                .show {
                    display: flex;
                    gap: 17px;
                    align-items: center;

                    input {
                        width: 55px;
                        height: 55px;
                        border: none;
                        color: $gray;
                        text-align: center;
                        background-color: $white;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &[type=number] {
                            -moz-appearance: textfield;
                            appearance: textfield;
                        }
                    }
                }

                .sort {
                    display: flex;
                    gap: 17px;
                    align-items: center;

                    select {
                        width: clamp(8.125rem, -2.6936rem + 22.5681vw, 11.75rem);
                        height: 55px;
                        border: none;
                        color: $gray;
                        padding: 0 clamp(0.625rem, -3.1055rem + 7.7821vw, 1.875rem);
                        background-color: $white;
                    }
                }
            }
        }
    }

    .breadcrumbs {
        a {
            font-weight: 500;
        }

        img {
            margin-bottom: -4px;
            padding: 0 6px;
        }

        span:last-child {
            font-weight: 300;
        }
    }
}