@import '@/app/globals.scss';

.related-products {
    max-width: $desktop;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    h4 {
        padding: 0 $sidePadding;
    }
    
    & > a {
        margin-top: 50px;
        font-weight: 500;
        font-size: 20px;
    }
}