@import '../../../globals.scss';

.linkBtn {
    margin-top: 15px;
    padding-bottom: 12px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        height: 1px;
        width: 86%;
        border-bottom: 1px solid $black;
    }

    &:hover {
        &::before {
            border-color: $gold;
        }
    }
}