@import '@/app/globals.scss';

.blog-page {
    display: flex;
    flex-direction: column;
    gap: 62px;

    .blog-section {
        display: flex;
        gap: 30px;

        .blog-posts {
            
        }
    }
}