@import '@/app/globals.scss';

.cart-sidebar {
  position: fixed;
  top: 0;
  max-width: 417px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $white;
  z-index: 1000;

  &.open {
    right: 0;
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    padding: 28px 40px 0 30px;
    gap: 40px;

    .cart-title {
      font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
      font-weight: 600;
      line-height: 150%;
      flex: 3;
      padding-bottom: 26px;
      border-bottom: 1px solid $lightGray;
    }

    a {
      margin-top: 6px;
    }
  }

  .cart-content {
    padding: 28px 40px 26px 30px;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
  }

  .cart-subtotal {
    padding: 23px 40px 23px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    .subtotal-amount {
      color: $gold;
      font-weight: 600;
    }
  }

  .cart-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 26px;
    gap: 20px;
    border-top: 1px solid $lightGray;

    a {
      .cart-button {
        font-size: 12px;
        line-height: 150%;
        font-weight: 400;
        border: 1px solid $black;
        width: 131px;
        height: 31px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover .cart-button {
        color: $gold;
        border-color: $gold;
      }
    }
  }
}




