@import '@/app/globals.scss';

table {
  border-collapse: collapse;
  width: 817px;
  display: flex;
  flex-direction: column;
  gap: 15px;
      
  thead {
    tr {
      background-color: $lightYellow;
      display: flex;
      gap: 20px;

      th {
        width: 100%;
        padding: 15px;

        &.product-column {
          flex: 6;
          text-align: center;
        }

        &.price {
          flex: 2;
        }

        &.quantity {
          flex: 2;
        }

        &.subtotal {
          flex: 2;
        }

        &.delete {
          flex: 0.5;
        }
      }
    }
  }
      
  tbody {
    tr {
      display: flex;
      gap: 20px;

      td {
        width: 100%;
        align-self: center;
        
        .product-column {
          flex: 6;

          &.img_card {
            display: flex;
            align-items: center;
            gap: 30px;

            p {
              color: $gray;
            }

            img {
              width: 105px;
              height: 105px;
              background-color: $yellow;
              border-radius: 10px;
            }
          }
        }

        .price {
          flex: 2;
          color: $gray;
        }

        .quantity {
          flex: 2;
          width: 32px;
          height: 32px;
          border: 1px solid $gray;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .subtotal {
          flex: 2;
        }

        .delete-button {
          flex: 0.5;
          cursor: pointer;
          background: none;
          border: none;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}