table {
    width: 80%;
    border-collapse: collapse;
    padding-left: 100px;
  
    th {
      background-color: #f0f0f0;
      text-align: left;
      padding: 8px;
    }
  
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    img {
      max-width: 100px;
    }
  }
  