@import '@/app/globals.scss';

.checkout-table{ 
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 22px;
  
  .product-details {
    display: flex;
    justify-content: space-between;

    span {
      color: $gray;
    }

    .product-price {
      font-weight: 300;
    }
  }
}

 