$light-yellow: #FFF9E5;
$yellow: #FBEBB5;

table {
    // width: 80%;
    border-collapse: collapse;
    padding-left: 100px;
  
    th {
      width: 80%;
      background-color: #FBEBB5;
      text-align: left;
      // padding: 8px;
    }
  
    td {
      width: 100%;
      // border: 1px solid #ddd;
      padding-bottom: 8px;
      text-align: left;
    }
    tr{
      text-align: left;
      justify-content: space-between;
    }
  
}
 