@import '@/app/globals.scss';

.info-section {
    background-color: $pink;

    .content {
        max-width: 1440px;
        padding: 96px clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 45px;

        @media screen and (max-width: 770px) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }

    .container {
        width: 376px;
    }

    p {
        font-size: clamp(1rem, 0.867rem + 0.4255vw, 1.25rem);
        font-weight: 400;
        line-height: clamp(1.5rem, 1.3005rem + 0.6383vw, 1.875rem);
        color: #9F9F9F;
    }
}