@import '@/app/globals.scss';

.loginRegisterForms-components {
    max-width: 1440px;
    width: 100%;
    padding: 67px clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 26px;

    .form-container {
        max-width: 424px;
        width: 100%;
        padding: 35px 0 55px 0;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    input, select {
        border: 1px solid #9F9F9F;
        border-radius: 10px;
        height: 75px;
        padding: 20px;

        &::placeholder {
            color: $gray;
        }

        &[type="checkbox"] {
            width: 30px;
            height: 27px;
            border-radius: 5px;
            accent-color: #FAF4F4;
        }
    }

    label[for='remember-me'] {
        font-weight: 400;
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }
    }

    button {
        width: 215px;
        height: 64px;
        background-color: transparent;
        border: 1px solid #000;
        border-radius: 15px;
        font-weight: 400;
        font-size: clamp(1rem, 0.867rem + 0.4255vw, 1.25rem);
    }

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-align: justify;

        a {
            font-weight: 600;
        }
    }

    .switch {
        display: none;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        cursor: pointer;

        @media screen and (max-width: $tablet) {
            display: flex;
        }
    }

    .error {
        color: red;
    }
}

@media screen and (max-width: $tablet) {
    a.switch {
        display: flex;
    }

    .form-container.inactive {
        display: none;
    }

    .form-container.active {
        display: flex;
    }
}