@import '../../globals.scss';

.product-additional-info {
    width: 100%;

    .product-additional-info-text {

        width: 80%;
        margin: 0 auto;

        p {
            color: $gray;
            text-align: justify;
            font-weight: 400;
            line-height: normal;
            font-size: 16px;
            font-style: normal;
        }
    }
}