@import '@/app/globals.scss';

.cart-page {
    display: flex;
    flex-direction: column;
    gap: 62px;

    .empty-cart-message {
        max-width: 1440px;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .cart-info {
        max-width: 1440px;
        width: 100%;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: flex;
        gap: 30px;

        @media screen and (max-width: 1142px) {
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
    
        .cart-totals {
            background-color: $lightYellow;
            padding: 15px clamp(1.5625rem, -6.1298rem + 12.0192vw, 4.6875rem) 80px;
            width: 393px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            @media screen and (max-width: 1142px) {
                width: 100%;
                padding: 40px clamp(1.5625rem, -6.1298rem + 12.0192vw, 4.6875rem);
            }

            h5 {
                text-align: center;
            }
    
            .cart {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;

                .totals {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    max-width: 393px;
                    width: 100%;

                    .section {
                        display: flex;
                        justify-content: space-between;
                        
                        p {
                            font-weight: 500;
                        }

                        .subtotal-price {
                            color: $gray;
                            font-weight: 400;
                        }

                        .price {
                            color: $gold;
                            font-size: 20px;
                            line-height: 150%;
                            font-weight: 500;
                        }
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    
                    .bigBtn {
                        height: 58px;
                    }
                }
            }
        }
    }
}