@import '@/app/globals.scss';

.cart-page {
    display: flex;
    flex-direction: column;
    gap: 62px;
height:100%;


}

.cart-content {
    display: flex;
    // justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;

    .cart-table {
        //   flex: 1;
        padding-left: 10px;
        width: 80%;
    }

    .cart-totals {
        //   width: 30%;
        background-color: #FBEBB5;
        padding: 20px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        width: 393px;
        height: 300px;
        flex-shrink: 0;
        // align-items: center;
        // justify-content: center;

        .cart-totals-card{
            align-items: center;
            // justify-content: center; 
        }

        h2 {
            text-align: center;
            color: #000;


font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 30px;
        }

        .totals {
            display: flex;
            flex-direction: column;
            align-items: center;gap:20px;
            padding-bottom: 30px;
        }

        .subtotal {
            margin-bottom: 10px;
            font-weight: bold;
        }

        .checkout-button {
            background-color: #FBEBB5;
            padding: 17px 48px;
            border: 1px solid #000;
            border-radius: 15px;
            font-size: clamp(1rem, 0.7151rem + 0.5944vw, 1.25rem);
            // padding-left: 40px;
            // width:50%;
        }
        .checkout {            
           align-items: center;
        // justify-content: center;
        padding-left: 80px;
        }

        .checkout-button:hover {
            background-color: #fad868;
            padding: 17px 48px;
            border: 1px solid #000;
            border-radius: 15px;
            font-size: clamp(1rem, 0.7151rem + 0.5944vw, 1.25rem);
        }
    }
}