@import '@/app/globals.scss';

.cart-page {
    display: flex;
    flex-direction: column;
    gap: 62px;

    .cart-info {
        max-width: 1440px;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: flex;
        gap: 30px;
    
        .cart-totals {
            background-color: $lightYellow;
            padding: 15px 75px 80px;
            width: 393px;
            display: flex;
            flex-direction: column;
            gap: 60px;

            h5 {
                text-align: center;
            }
    
            .cart {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .totals {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .section {
                        display: flex;
                        justify-content: space-between;
                        
                        p {
                            font-weight: 500;
                        }

                        .subtotal-price {
                            color: $gray;
                            font-weight: 400;
                        }

                        .price {
                            color: $gold;
                            font-size: 20px;
                            line-height: 150%;
                            font-weight: 500;
                        }
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    
                    .bigBtn {
                        height: 58px;
                    }
                }
            }
        }
    }
}