@import '@/app/globals.scss';

.blog-post {
    @include page;

    .single-blog-post {
        max-width: 955px;
        width: 100%;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .meta {
            display: flex;
            justify-content: center;
            gap: 35px;

            @media screen and (max-width: 450px) {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }
        
            .item {
                display: flex;
                align-items: center;
                gap: 7px;
                color: $gray;
            }
        }

        .navigation-links {
            display: flex;
            justify-content: space-between;

            .next-post {
                margin-left: auto;
                text-align: right;
                color: $gray;
            }

            .prev-post {
                color: $gray;
            }
        }

        .content {
            font-size: clamp(1rem, 0.2539rem + 1.5564vw, 1.25rem);
            text-align: justify;
        }
    }
}