@import '@/app/globals.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 1440px;
    width: 100%;
    padding: 0 $sidePadding;
    position: absolute;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;

    .section:first-child {
        @media screen and (max-width: 1150px) {
            display: none;
        }
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 75px;
    }

    .icons {
        display: flex;
        justify-content: end;
        gap: 45px;
        
        @media screen and (max-width: $mobile) {
            .favs {
                display: none;
            }
        }
    }

    .section {
        flex: 1;
    }

    button {
        border: none;
        background-color: transparent;
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        z-index: 102;
        position: sticky;

        .bar {
            width: 30px;
            height: 3px;
            background-color: #333;
            margin: 4px 0;
        }
    }

    @media (max-width: $mobile) {
        .burger-menu {
            display: flex;
        }

        nav {
            display: none;
            flex-direction: column;
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 150px;
            padding: 10px;
            z-index: 101;

            &.show-menu {
                display: flex;
                position: fixed;
            }

            a {
                color: $black;
                margin: 10px 0;
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 100;
        /* Make sure the overlay appears above the rest of the content */
        display: none;
        /* Initially hidden */
    }
    
    .overlay.active {
        display: block;
        /* Show the overlay when the cart is open */
    }
}