$black: #1A1919;
$white: #FFFFFF;
$yellow: #FBEBB5;
$lightYellow: #FFF9E5;
$gray: #9F9F9F;
$lightGray: #D9D9D9;
$pink: #FAF4F4;
$gold: #B88E2F;

$sidePadding: clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);

$shadow: 0px 8px 24px 0px rgba(69, 69, 80, 0.1);

$desktop: 1440px;
$tablet: 1024px;
$mobile: 767px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 300ms;
    outline: none;
    text-decoration: none;
    color: $black;
}

button {
    cursor: pointer;
}

html,
body {
    max-width: 100%;
}

h1 {
    font-size: clamp(2.75rem, -1rem + 7.8125vw, 4rem);
    font-weight: 500;
    line-height: 150%;
}

h2 {
    font-size: clamp(2.25rem, 0rem + 4.6875vw, 3rem);
    font-weight: 500;
    line-height: 150%;
}

h3 {
    font-size: clamp(2rem, 0.125rem + 3.9063vw, 2.625rem);
    font-weight: 400;
    line-height: 150%;
}

h4 {
    font-size: clamp(1.625rem, -0.25rem + 3.9063vw, 2.25rem);
    font-weight: 500;
    line-height: 150%;
}

h5 {
    font-size: clamp(1.5rem, 0rem + 3.125vw, 2rem);
    font-weight: 500;
    line-height: 133%;
}

h6 {
    font-size: clamp(1.5rem, 0.375rem + 2.3438vw, 1.875rem);
    font-weight: 500;
    line-height: 150%;
}

nav {
    a {
        font-weight: 500;
        line-height: 24px;
    }
}

a:hover {
    color: $gold;

    img {
        opacity: 0.6;
    }
}

.input-cont {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.checkbox {
    display: flex;
    gap: 20px;
}

textarea {
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    height: 120px;
    padding: 20px;
    resize: none;

    &::placeholder {
        color: $gray;
        font-family: 'Poppins', sans-serif;
    }
}

label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@mixin page {
    display: flex;
    flex-direction: column;
    gap: 62px;
}

.product-grid {
    max-width: 1440px;
    width: 100%;
    padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
    gap: 30px;
    justify-items: center;
}