@import './globals.scss';

.home {
    .hero {
        background-color: $yellow;
        height: auto;
        margin-top: 0;

        .content {
            max-width: 1440px;
            padding: 100px $sidePadding;
            margin: 0 auto;
            display: flex;
            align-items: center;
            height: 100vh;

            @media screen and (max-width: $tablet) {
                flex-direction: column-reverse;
                height: clamp(43.75rem, 35.7372rem + 32.0513vw, 56.25rem);
                gap: clamp(1.875rem, -1.8555rem + 7.7821vw, 3.125rem);
            }

            .info-section {
                min-width: 450px;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: clamp(0.625rem, -3.1055rem + 7.7821vw, 1.875rem);
                background-color: transparent;

                @media screen and (max-width: $tablet) {
                    min-width: 100px;
                    text-align: center;
                    align-items: center;
                }

                a {
                    font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
                }
            }
        
            img {
                max-width: clamp(15.625rem, 5.5288rem + 40.3846vw, 41.875rem);
                height: auto;
            }
        }
    }

    .section_one {
        background-color: $pink;

        .content {
            max-width: $desktop;
            padding: 60px $sidePadding 100px;
            margin: 0 auto;
            display: flex;
            gap: 100px;
            justify-content: center;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
                align-items: center;
                gap: 50px;
            }

            .product {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;

                @media screen and (max-width: $mobile) {
                    align-items: center;
                }
            
                .image {
                    max-width: 445px;
                    width: 100%;
                    padding: 20px;
            
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    .section_two {
        max-width: $desktop;
        padding: 55px 0 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;

        & > a {
            font-weight: 500;
            font-size: 20px;
        }
    }

    .section_three {
        background-color: $lightYellow;

        .content {
            max-width: 1440px;
            padding: 20px $sidePadding;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 65px;

            @media screen and (max-width: $tablet) {
                padding-top: 50px;
                flex-direction: column-reverse;
                gap: 30px;
            }

            .image {
                flex: 2;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .info {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                .new-arrivals {
                    font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
                }

                h2 {
                    text-align: center;
                    font-weight: 700;
                    margin-bottom: 33px;
                }
            }
        }
    }

    .section_four {
        max-width: $desktop;
        padding: 55px $sidePadding 55px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;

        .blog-section {
            display: flex;
            width: 100%;
            gap: 31px;

            @media screen and (max-width: $tablet) {
                flex-direction: column;
            }

            .blog-post {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 33px;
                flex: 1;

                .thumbnail {
                    width: 100%;
                    height: clamp(18.20875rem, 2.5687rem + 24.4375vw, 24.5625rem);
                    border-radius: 10px;
                    object-fit: cover;

                    @media screen and (max-width: $tablet) {
                        height: clamp(12.5rem, -6.5372rem + 38.7034vw, 18.20875rem);
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    p {
                        font-size: 20px;

                        &:hover {
                            color: $gold;
                        }
                    }

                    a {
                        font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
                        font-weight: 500;
                        margin-top: 10px;
                    }

                    .meta {
                        padding-top: 19px;
                        display: flex;
                        gap: 19px;

                        .item {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        & > a {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .section_five {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        background: url('../public/our-ig-follow-us.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 $sidePadding;

        .heading {
            font-weight: 700;
            font-size: clamp(2.5rem, -1.25rem + 7.8125vw, 3.75rem);
            line-height: 150%;
            text-align: center;
        }

        p {
            font-size: 20px;
            padding-bottom: 18px;
            text-align: center;
        }
    }

    .section-title {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 0 $sidePadding;

        p {
            font-weight: 500;
            color: $gray;
        }
    }

}