/* Colors */
@use "colors" as c;

/* Fonts */
@use "fonts" as f;

@import './globals.scss';

.home {

    &_hero {
        width: 100%;
        height: 100vh;
        background-color: $yellow;
        display: flex;
        padding: 0 $sidePadding;
        align-items: center;

        &_info {
            padding-left: clamp(0rem, -15.3846rem + 24.0385vw, 6.25rem);
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: flex-start;

            a {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font24;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }

        &_image {
            height: 100vh;
        }
    }

    &_section_one {
        background-color: $pink;
        padding: 0 $sidePadding;
        display: flex;
        gap: 100px;
        justify-content: center;
        min-height: 600px;

        &_prod {

            &_side_table {
                margin-top: -50px;
                width: auto;
                height: 500px;
            }

            h4 {
                margin-top: -60px;
                margin-bottom: 16px;
                font-size: f.$font36;
            }

            a {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font24;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }
    }

    &_section_two {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        min-height: 600px;
        background-color: c.$colorWhite;
        padding: 3% $sidePadding;

        &_header {
            text-align: center;

            &_title {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: 36px;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }

            &_subtitle {
                color: $gray;
                font-family: f.$fontFamily;
                font-size: f.$font16;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }

        &_product {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            gap: 3%;

            /*

            &_item {
                max-width: 287px;
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;

                &_image {
                    height: 287px;
                    margin-bottom: 14px;
                }

                &_title {
                    color: c.$colorBlack;
                    font-family: f.$fontFamily;
                    font-size: f.$font16;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                &_price {
                    color: c.$colorBlack;
                    font-size: clamp(1.25rem, 0.9651rem + 0.5944vw, 1.5rem);
                    font-family: f.$fontFamily;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            */
            
        }

        &_view_more {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin: 3% 0;

            a {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font24;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }

    }

    &_section_three {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        height: 639px;
        background-color: $lightYellow;
        gap: 0;

        &_left {
            display: flex;
            width: 60%;
            height: 100%;
            flex-direction: column;
            justify-content: start;

            &_image {
                width: 989px;
                height: 999px; /*height: 799px;*/
                position: relative;
                top: -26%; 
            }
        }

        &_right {
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_text {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font24;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }

            &_subtext {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font48;
                font-style: normal;
                font-weight: f.$fontWeight700;
                line-height: normal;
                margin-bottom: 4%;
            }
        }
    }

    &_section_four {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        min-height: 944px;
        background-color: c.$colorWhite;
        padding: 3% $sidePadding;

        &_header {
            text-align: center;

            &_title {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: 36px;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }

            &_subtitle {
                color: $gray;
                font-family: f.$fontFamily;
                font-size: f.$font16;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }

        &_blog {
            display: flex;
            flex-flow: row wrap;
            justify-content: start;
            gap: 15px;

            &_item {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                &_image {
                    width: 393px;
                    height: 393px;
                    border-radius: 10px;
                }

                &_title {
                    color: c.$colorBlack;
                    font-family: f.$fontFamily;
                    font-size: f.$font20;
                    font-style: normal;
                    font-weight: f.$fontWeight400;
                    line-height: normal;
                    margin-top: 3%;
                }

                a {
                    position: relative;
                    top: -2%;
                    color: c.$colorBlack;
                    font-family: f.$fontFamily;
                    font-size: f.$font24;
                    font-style: normal;
                    font-weight: f.$fontWeight500;
                    line-height: normal;
                }

                &_info {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    position: relative;
                    top: -1.5%;

                    &_clock {
                        width: 18px;
                        height: 17.831px;
                        position: relative;
                        top: 2px;
                        right: 5px;
                    }

                    &_time {
                        color: c.$colorBlack;
                        font-family: f.$fontFamily;
                        font-size: f.$font16;
                        font-style: normal;
                        font-weight: f.$fontWeight300;
                        line-height: normal;
                    }

                    &_calendar {
                        width: 22px;
                        height: 22px;
                        margin: 0 5px 0 20px;
                    }

                    &_date {
                        color: c.$colorBlack;
                        font-family: f.$fontFamily;
                        font-size: f.$font16;
                        font-style: normal;
                        font-weight: f.$fontWeight300;
                        line-height: normal;
                    }

                }
                
            }
        }

        &_view_all {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a {
                color: c.$colorBlack;
                font-family: f.$fontFamily;
                font-size: f.$font24;
                font-style: normal;
                font-weight: f.$fontWeight500;
                line-height: normal;
            }
        }

    }

    &_section_five {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 450px;
        background: url('../public/our-ig-follow-us.png');

        &_title {
            color: c.$colorBlack;
            font-family: f.$fontFamily;
            font-size: f.$font60;
            font-style: normal;
            font-weight: f.$fontWeight700;
            line-height: normal;
        }

        &_subtitle {
            color: c.$colorBlack;
            font-family: f.$fontFamily;
            font-size: f.$font20;
            font-style: normal;
            font-weight: f.$fontWeight400;
            line-height: normal;
            margin-bottom: 1%;
        }

        button {
            filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.10));
        }

    }

}