@import './globals.scss';

.not-found {
    max-width: 800px;
    width: 100%;
    min-height: 500px;
    padding: 167px clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem) 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;

    h1 {
        font-weight: 700;
    }

    p {
        color: $gray
    }

    .bigBtn {
        margin-top: 30px;
        background-color: $gold;
        color: $white;
        border: none;

        &:hover {
            background-color: lighten($gold, 10%);
        }
    }
}