@import '@/app/globals.scss';

.product-card {
    max-width: 287px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image {
        max-width: 287px;
        height: 287px;
        margin-bottom: 14px;
        display: flex;
        align-items: center;

        img {
            max-width: 287px;
            height: auto;
        }
    }

    .price {
        font-size: clamp(1.25rem, 0.9651rem + 0.5944vw, 1.5rem);
        font-weight: 500;
    }
}