@import '@/app/globals.scss';

.tabs {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
    display: flex;
    flex-direction: column;
    gap: 37px;
    justify-content: center;

    .tabButtons {
        max-width: $mobile;
        display: flex;
        align-self: center;
        gap: 53px;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            gap: 15px;
        }
    
        .btn {
            font-family: '__Poppins_6fcd13', '__Poppins_Fallback_6fcd13';
            background-color: $white;
            border: none;
            outline: none;
            cursor: pointer;
            color: $gray;
            font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
    
            &:hover {
                color: $black;
            }
    
            &.active {
                color: $black;
            }
        }
    }
}