@import '@/app/globals.scss';

.single-product {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-x: hidden;

    .upper {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        display: flex;
        gap: clamp(1.875rem, -8.8942rem + 16.8269vw, 6.25rem);

        @media screen and (max-width: $tablet) {
            flex-direction: column;
        }

        .product-data {
            flex: 1;
            display: flex;
            flex-direction: column;

            @media screen and (min-width: $mobile) and (max-width: $tablet) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 15px;
                max-width: 424px;
                padding-bottom: 60px;
        
                .price-container {
                    display: flex;
                    justify-content: space-between;
    
                    .price {
                        font-size: clamp(1.25rem, 0.9651rem + 0.5944vw, 1.5rem);
                        color: $gray;
                        font-weight: 500;
                    }
                }
    
                p {
                    font-size: 13px;
                }
            }
        }
    }

    .details {
        padding-top: 40px;
        border-top: 1px solid $lightGray;
        display: flex;
        flex-direction: column;
        gap: 12px;

        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            padding-top: 0;
            border: none;
        }

        .item {
            font-size: clamp(0.875rem, 0.7325rem + 0.2972vw, 1rem);
            color: $gray;
            display: flex;

            span {
                font-size: clamp(0.875rem, 0.7325rem + 0.2972vw, 1rem);
                color: $gray;
                display: inline-block;

                &:first-child {
                    width: 90px;
                }

                &:nth-child(2) {
                    width: 2px;
                    padding-right: 12px;
                }

                &:last-child {
                    display: flex;
                    gap: 25px;
                    align-items: center;
                }

                img {
                    cursor: pointer;

                    &:hover {
                        filter: opacity(.7);
                    }
                }
            }
        }
    }

    .divider {
        width: 100%;
        border-top: 1px solid $lightGray;
    }
}


  