@import '@/app/globals.scss';

.shop-page {
    display: flex;
    flex-direction: column;
    gap: 62px;

    .product-grid {
        max-width: 1440px;
        width: 100%;
        padding: 0 clamp(0.625rem, -5.7857rem + 13.373vw, 6.25rem);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(287px, 1fr));
        gap: 30px;
        justify-items: center;
    }

    .breadcrumbs {
        a {
            font-weight: 500;
        }
    
        img {
            margin-bottom: -4px;
            padding: 0 6px;
        }

        span:last-child {
            font-weight: 300;
        }
    }
}
