@import '@/app/globals.scss';

.product-description {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .description {
        max-width: $tablet;
        color: $gray;
        text-align: justify;
        align-self: center;
    }

    .gallery {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        height: 348px;

        @media screen and (max-width: $mobile) {
            flex-direction: column;
            height: auto;
        }

        .img-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $lightYellow;

            img {
                max-width: 348px;
                width: 100%;
                height: auto;
                padding: 20px;
            }
        }
    }

}