@import '@/app/globals.scss';

.squareLinkBtn {
    width: 255px;
    height: 64px;
    border: 1px solid $black;
    background: $lightYellow;
    color: $black;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover, &:focus {
        background: $gold;
        color: $white;
    }
}