@import '@/app/globals.scss';

.blog-page {
    @include page;

    .blog-section {
        max-width: 1440px;
        display: flex;
        margin: 0 auto;
        gap: 30px;
        padding: 24px $sidePadding;

        @media screen and (max-width: $mobile) {
            flex-direction: column-reverse;
        }

        .blog-posts {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 54px;

            .post {
                display: flex;
                flex-direction: column;
                gap: 17px;

                .thumbnail {
                    width: 100%;
                    height: clamp(15.625rem, -31.25rem + 97.6563vw, 31.25rem);
                    border-radius: 10px;
                    object-fit: cover;
                }

                .post-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;

                    .meta {
                        display: flex;
                        gap: 35px;

                        .item {
                            display: flex;
                            align-items: center;
                            gap: 7px;
                            color: $gray;
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        a:hover h6 {
                            color: $gold;
                        }

                        .excerpt {
                            font-weight: 400;
                            color: $gray;
                            font-size: 15px;
                            line-height: 22.5px;
                            text-align: justify;
                        }
                    }
                }
            }
        }

        .blog-navi {
            flex: 1;
            padding: 0 41px;
            display: flex;
            flex-direction: column;
            gap: 41px;

            .nav {
                .search-bar {
                    position: relative;

                    input {
                        padding: 12px clamp(2.25rem, 0.7554rem + 5.9783vw, 3.625rem) 12px clamp(1.5rem, 0.9565rem + 2.1739vw, 2rem);
                        width: 100%;
                        border-radius: 10px;
                        border: 1px solid $gray;
                        height: 58px;

                        &:focus {
                            &::placeholder {
                                opacity: 0;
                                transition: opacity 0.3s ease;
                            }
                        }
                    }

                    .search-icon {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: clamp(1.25rem, 0.9783rem + 1.087vw, 1.5rem);
                        margin: auto 0;
                        right: 12px;
                        cursor: pointer;
                    }
                }

                .categories {
                    padding: 43px clamp(0rem, -4.6875rem + 9.7656vw, 1.5625rem) 61px clamp(0rem, -6.75rem + 14.0625vw, 2.25rem);
                    display: flex;
                    flex-direction: column;
                    gap: 33px;

                    .cats {
                        display: flex;
                        flex-direction: column;
                        gap: clamp(1.25rem, -2.6875rem + 8.2031vw, 2.5625rem);

                        .category {
                            display: flex;
                            justify-content: space-between;

                            &.active {
                                p {
                                    color: $gold;
                                }
                            }

                            p {
                                color: $gray;
                            }

                            &:hover p {
                                color: $gold;
                            }
                        }
                    }
                }
            }

            .nav-heading {
                font-weight: 500;
                font-size: clamp(1.25rem, 0.5rem + 1.5625vw, 1.5rem);
                line-height: 150%;
            }

            .recent {
                padding: 0 clamp(0rem, -4.6875rem + 9.7656vw, 1.5625rem) 0 clamp(0rem, -6.75rem + 14.0625vw, 2.25rem);
                display: flex;
                flex-direction: column;
                gap: 26px;

                @media screen and (max-width: $mobile) {
                    display: none;
                }

                .recent-posts {
                    display: flex;
                    flex-direction: column;
                    gap: 39px;

                    .post {
                        display: flex;
                        flex-direction: row;
                        gap: 12px;

                        &:hover {
                            .title {
                                color: $gold;
                            }
                        }

                        .thumbnail {
                            border-radius: 10px;
                            object-fit: cover;
                            width: 100%;
                            max-width: 80px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 5px;

                            .title {
                                font-size: 14px;
                                max-width: 160px;
                                line-height: 150%;
                            }

                            .date {
                                color: $gray;
                                font-size: 12px;
                                line-height: 150%;
                            }
                        }
                    }
                }
            }
        }
    }
}